<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="chatsstyle.css">
</head>
<body>
    <h1>Displaying all chats</h1>
    <%for(let ch of chats){%>
        <div>
            <h3>From:<%=ch.from%></h3>
            <h3>To:<%=ch.to%></h3>
            <h3>Message:<%=ch.msg%></h3>
            <h3>Sent at:<%=ch.sent_on.toString().split(" ")[4]%></h3>
            <h3>Sent on:<%=ch.sent_on.toString().split(" ").slice(0,4).join("-")%></h3>
            <form method="GET" action="/chats/<%=ch.id%>/edit">
                <button>Edit your message</button>
            </form>
            <br>
            <form method="post" action="/chats/<%=ch._id%>?_method=DELETE">
                <button>Delete</button>
            </form>
            <br><br>
        </div>
    <%}%>
    <br><br>
    <form method="get" action="/chats/new">
        <button type="submit">New Chat</button>
    </form>
</body>
</html>